.icon-asc { background-image: url(img/icons/asc.gif); }
.icon-desc { background-image: url(img/icons/desc.gif); }
.icon-reverse { background-image: url(img/icons/reverse.png); }
.icon-success { background-image: url(img/icons/success.png); }
.icon-cancel { background-image: url(img/icons/cancel.png); }
.icon-filter { background-image: url(img/icons/filter.png); }